{{ define "main" }}
<div class="links-container">
    <h1 class="links-page-title">{{ .Title }}</h1>

    {{ with .Content }}
        <div class="links-intro">{{ . }}</div>
    {{ end }}

    <div class="links-cards">
        {{ range $link := .Params.links }}
            <article class="link-card">
                <a href="{{ $link.website }}" target="_blank" rel="noopener">
                    <div class="link-card-details">
                        <h2 class="link-card-title">{{ $link.title }}</h2>
                        <p class="link-card-desc">
                            {{- with $link.description }}{{ . }}{{ else }}{{ $link.website }}{{ end -}}
                        </p>
                    </div>

                    {{ with $link.image }}
                        <div class="link-card-image">
                            <img src="{{ . }}" loading="lazy"{{ with $link.alt }} alt="{{ . }}"{{ end }}>
                        </div>
                    {{ end }}
                </a>
            </article>
        {{ end }}
    </div>

    {{ partial "links/self-info" . }}
</div>

{{ partialCached "footer/footer" . }}
{{ end }}
